.button {
    border-radius: 4px;
    border: none;
    padding: 16px 36px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Poppins', Arial, sans-serif;
    background: #FFFFFF;
    color: #20374F;
    text-decoration: none;
}